*{
    margin:0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-image: linear-gradient (0, rgba(0,0,0,1), rgba(0,0,0,0)); */
    background-color: #030303;
}

.manga-detail{
  margin: 10px 50px;
  color:#fff;
}

.manga-card{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-template-areas: "img title";
}

.manga-card__image {
    height: 500px;
    width: 375px;
    grid-area: img;
}

.manga-card__image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.manga-card__detail-title{
    display:inline-block ;
    background-color: #030303;
    width:100%;
    grid-area: title;
    padding: 4px;
    border: 2px solid #797575;
    border-radius: 5px;
    margin-bottom: 48px;
}

.manga-card__detail-name{
    font-size: 112px;
    font-weight: 700;
}

.manga-card__detail-author{
    font-size: 32px;
    font-weight: 100;
    color: #bebebe;
}

.manga-card__detail-genre,
.manga-card__detail-rating{
    font-size: 40px;
    font-weight: 500;
}

.manga-card__detail-rating{
  margin:10px 0;
}

.manga-card__buttons{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 4fr 700px;
    grid-template-areas: "btn btn . share-btn";
}

.manga-card__buttons button{
    width: 180px;
    height: 52px;
    grid-area: btn btn;
}

.manga-card__share-buttons{
    grid-area: share-btn;
}

.share-button{
    list-style: none;
    display: inline;
    width: 50px;
    margin-right: 10px;
}

.share-button img{
    width: 40px;
    height: 40px;
}





