* {
    padding: 0;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    
}

.footer {
    border: 1px solid black;
    margin: 1px;
    padding: 5px;
    border-radius: 2px;
    background-color: rgb(80, 83, 85);
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    
}

.title {
    font-weight: bold;
    font-style: initial;

}


.about {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: justify;
    padding: 0 20px 0 10px;
    width: 600px;

}


.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.contact a{
    color: black;
}

.follow {
    width: 150px;
}
.follow a{
    color: black;
}

.social-icon {
    display: flex;
    flex-direction: column;
    text-align: start;
}


.footer-img {
    width: 200px;
    height: 100%;
}

.footer-img img {
    width: 100%;
    height: 100%;
}