.modal-over {
    position: fixed;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    background-color: rgb(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-over .modal-dialog {
    background: #1F1F1F;
    width: 400px;
    min-height: 400px;
    position: relative;
    border-radius: 16px;
}
.close-button{
    position: absolute;
    top: 6px;
    right: 6px;
}
.modal-body .modal-content .modal-content-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
}
.modal-body .modal-content{
    margin: 18px;
}


.logoImage img{
    width: 80px;
    height: 100%;
    margin-top: 20px;
    border-radius: 50px;
}

.SignUpProviders a{
    display: block;
    margin: 12px 0;
    color:#FFF ;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}
.SignUpProviders a:hover{
   cursor: pointer;
   background-color: #515151!important;
}

.SignUpProviders a.facebook-button{
    background-color: #2579FB;
}

.SignUpProviders a.twitter-button{
    background-color: #1EA7F9;
}


.background-strikethrough {
    background-color: #1f1f1f;
    display: block;
    padding: 0 10px;
    position: relative;
    text-align: center;
    overflow: hidden; 
    margin-bottom: 12px;
}

.background-strikethrough span {
    position: relative;
    z-index: 2;
    color: white;
    width: min-content; 
    background-color: #1F1F1F;
    padding: 6px;
}

.background-strikethrough::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: white;
    z-index: 1;
}

.SignUpInputs .pure-control-group input{
    display: block;
    width: 100%;
    background-color: #121212;
    margin: 8px 0 ;
    padding: 12px 0;
    border-radius: 8px;
    border: none;
    color: #fff;
}

input::placeholder {
    position: absolute;
    left: 10px; 
}

.button-cta{
    display: block;
    width: 100%;
    background-color: #FC5342;
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 12px 0px;
    margin: 20px 0;
    font-size: 14px;
    text-transform: uppercase;
}

.SignUpFooter{
   display: block;
   text-align: center;
    color: #FFF;
}

.SignUpFooter a{
    text-decoration: none;
    color: #AABEE4;
}
