/*search section*/

.input {
    background-color: #000000;
    max-width: 400px;
    width: 400px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgb(93, 189, 211);
    color: #fff;
}

.input:focus {
    color: white;
    background-color: #000000;
    outline-color: rgb(0, 0, 0);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
}

